<div class="row">
  <div class="col-2"><%= link_to incident.name, incident %></div>
  <div class="col-4"><%= incident.location %></div>
  <div class="col-4"><%= incident.coordinates %></div>
  <div class="col-2"><%= incident.user.name %></div>
</div>
