<% if @incident.errors.any? %>
  <div class="alert alert-danger">
    <%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved.
  </div>
<% end %>

<div class="row">
  <div class="col-6 offset-3">
    <center><h1>Edit Incident</h1></center>

    <%= render "form", incident: @incident %>

    <%= button_to "Delete Incident", @incident, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-block btn-danger" %>
  </div>
</div>
