<div class="row">
  <div class="col-10">
    <h1>Incidents</h1>
  </div>
  <div class="col-2">
    <%= button_to "New Incident", [:new, :incident], class: "btn btn-success btn-block", method: :get %>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-2"><strong>Name</strong></div>
      <div class="col-4"><strong>Location</strong></div>
      <div class="col-4"><strong>Coordinates</strong></div>
      <div class="col-2"><strong>Created by</strong></div>
    </div>
    <%= render @incidents %>
  </div>
</div>
